//variable
$primary-color: #056dae;
$primary-letter: white;

body{
  background-color: $primary-color;
}

h1{
 color: $primary-letter;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 710px;
 margin-bottom: 10%;
 position: relative;
  z-index: 1;
}

.headerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 5% 10% 10% 5%;
  color: black;
  text-align: center;
}

.narrow1{
  width: 45%;
  margin: 2% 0% 2% 50% ;
}

.logociti{
  margin: 0% 10% 10% 5%
}

.pContainer{
display: flex;
flex-direction: column;
align-content: center;
}

p{
  margin: 0% 10% 2% 10%;
  text-align: justify;
}
