body {
  background-color: #056dae;
}

.containerClients {
  margin: 15px auto;
  width: 370px;
  padding: 0px;

}

.list-clients {
  width: 370px;
  height: 300px;
  overflow-y: scroll;

}

.tittle-sharing {
  color: #ffffff;
  font-size: 25px;
  margin: 10px 0;
}

.baseSimple {
  margin: 5px;
}

.card-inf {
  width: 300px;
}

.card-data {
  display: inline-table;
}

.card-imgDebito {
  width: 45px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.double {
  font-size: 15px;
  font-weight: bold;

}

.double-upper {
  text-transform: uppercase;
  font-size: 12px;
}

.container-btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-newperson {
  width: 150px;
  height: 48px;
  background-color: #B6B6BA;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.icon-dollar {
  width: 10px;
}

.txt-btn {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.btn-dg {
  width: 150px;
  height: 48px;
  background-color: #00BBEE;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 6px;

}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #B6B6BA;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #76b2e8;
  border: 0.1em solid#1260a5;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#1260a5);
}

.result {
  width: 370px;
  border-radius: 6px;
  margin-top: 30px;

}

.txt-res {
  font-size: 20px;
  width: 75px;
}

.container-return {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.return {
  width: 150px;
  height: 48px;
  background-color: #00BBEE;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}

.question {
  color: #ffffff;
  width: 30px;
  height: 28px;
  margin: 20px 0 0 300px;
}

.mr-auto {
  display: flex;
  flex-direction: row;
}

.icon-people {
  margin: 6px 8px 0 10px;

}

.card-text {
  margin-right: 50px;
}

.total {
  margin-left: 85px;
}

.linea {
  border-bottom: 1px solid #B6B6BA;
}