//variable
$primary-color: #056dae;
$primary-letter: white;
$secondary-color: #f8f8f8;
$button-color: #00bbee;

.arrowBack {
    width: 27px;
    height: 25px;
    margin: 20px 0 0 20px;
    color: $secondary-color;
}

.title {
    margin-top: 15px;
    color: $primary-letter;
}

.allTransactions {
    margin:55px 15px 0 15px;
    width: 350px;
    height: 500px;
    overflow-y: scroll;

  .btnShare {
    background-color: $button-color;
    border: none;
    color: $primary-letter;
  }
 
  ::-webkit-scrollbar {
    width: 1em;
  }
  
  ::-webkit-scrollbar-track {
    background: #B6B6BA;
    border-radius: 90vw;
    margin-block: 0.5em;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: #76b2e8;
    border: 0.1em solid#1260a5;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#1260a5);
  }
}
